@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.theme-dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}
