@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --inverted-bg-color: #000000;
  --inverted-text-color: #ffffff;
}

.theme-dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --inverted-bg-color: #ffffff;
  --inverted-text-color: #000000;
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (orientation: landscape) and (max-height: 500px) {
  html, body, #root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

@supports (height: 100dvh) {
  html, body, #root {
    height: 100dvh;
  }
}
